<ion-side-menus enable-menu-with-back-views="false" ng-controller="AppCtrl">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">



    <div class="list no-margin">

      <ion-item class="item-avatar item-icon-right">
<!--        <div class="image-adjust"></div>-->
        <div class="image-adjust" ng-style="{'background-image':'url({{userdetails.userimage}})'}" ng-if="userdetails.userimage"></div>
        <div class="image-adjust" ng-style="{'background-image':'url(img/user.png)'}" ng-if="!userdetails.userimage"></div>

        <!--<h3>{{userdetails.username}}</h3>
                    <p>{{userdetails.useremail}}</p>-->
                    
        <h3>{{userdetails.username}}</h3>
        <p>{{userdetails.useremail}}</p>

        <i class="icon ln-gear2 small" ui-sref="app.setting" menu-close></i>
      </ion-item>


    </div>

    <ion-content class="has-menu-photo">
      <div class="list menu-set">

        <ion-item nav-clear menu-close class="item item-icon-left" ui-sref="app.home" ui-sref-active="bordered">
          <i class="icon ln-home3"></i> Home
        </ion-item>

        <ion-item nav-clear menu-close class="item item-icon-left" ui-sref="app.notification" ui-sref-active="bordered">
          <i class="icon ln-bell"></i> Notification
        </ion-item>

        <ion-item nav-clear menu-close class="item item-icon-left" ui-sref="app.events" ui-sref-active="bordered" ng-show="menudata.events">
          <i class="icon ln-calendar2"></i> Events
        </ion-item>

        <ion-item nav-clear menu-close class="item item-icon-left" ui-sref="app.blogs" ui-sref-active="bordered" ng-show="menudata.blogs">
          <i class="icon ln-papers"></i> Blog
        </ion-item>

        <ion-item nav-clear menu-close class="item item-icon-left" ui-sref="app.photogallerycategory" ui-sref-active="bordered" ng-show="menudata.gallery">
          <i class="icon ln-picture"></i> Photos
        </ion-item>

        <ion-item nav-clear menu-close class="item item-icon-left" ui-sref="app.videogallerycategory" ui-sref-active="bordered"ng-show="menudata.videogallery">
          <i class="icon ln-film-play"></i> Videos
        </ion-item>

        <ion-item nav-clear menu-close class="item item-icon-left" ui-sref="app.about" ui-sref-active="bordered">
          <i class="icon ln-circle-exclamation"></i> About
        </ion-item>

        <ion-item nav-clear menu-close class="item item-icon-left" ui-sref="app.team" ui-sref-active="bordered">
          <i class="icon ln-briefcase"></i> Our Team
        </ion-item>

        <ion-item nav-clear menu-close class="item item-icon-left" ui-sref="app.profile" ui-sref-active="bordered">
          <i class="icon ln-user"></i> Profile
        </ion-item>

        <ion-item nav-clear menu-close class="item item-icon-left" ui-sref="app.social" ui-sref-active="bordered">
          <i class="icon ln-users2"></i> Social Feeds
        </ion-item>

        <ion-item nav-clear menu-close class="item item-icon-left" ui-sref="app.contact" ui-sref-active="bordered">
          <i class="icon ln-phone2"></i> Contact
        </ion-item>

        <ion-item nav-clear menu-close class="item item-icon-left item-content" ui-sref="access.login">
          <i class="icon ln-arrow-right2"></i> Logout
        </ion-item>

      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
