<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    
    <ion-content>
     
   
      <div class="list">
    
        <a class="item item-icon-left" href="#">
          <i class="icon ion-email"></i>
          Home
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-chatbubble-working"></i>
          About
        </a>
        
        <a class="item item-icon-left" href="#">
          <i class="icon ion-person-stalker"></i>
            Notification
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-mic-a"></i>
          Contact
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ion-person-stalker"></i>
            Events
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-person-stalker"></i>
            Blog
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-person-stalker"></i>
            Photos
        </a>
        
        <a class="item item-icon-left" href="#">
          <i class="icon ion-person-stalker"></i>
            Videos
        </a>

      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

