<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
        <ion-header-bar class="bar-side">
            <div class="side-image">
                <figure>
                    <a href="#/app/profile" menu-close><img src="img/profile.png"></a>
                    <figcaption>Ana Todurie</figcaption>
                </figure>
                <div class="profile-set">
                    <a href="#/app/setting" menu-close> <i class="icon ln-gear2 "></i>
                    </a>
                </div>
            </div>

        </ion-header-bar>
    <ion-content style="top:166px;">
     
   
      <div class="list">
    
        <a class="item item-icon-left" href="#">
          <i class="icon ln-home3"></i>
          Home
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ln-users"></i>
          About
        </a>
        
        <a class="item item-icon-left" href="#">
          <i class="icon ln-bell"></i>
            Notification
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ln-phone2"></i>
          Contact
        </a>

        <a class="item item-icon-left" href="#">
          <i class="icon ln-calendar2"></i>
            Events
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ln-papers"></i>
            Blog
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ln-picture"></i>
            Photos
        </a>
        
        <a class="item item-icon-left" href="#">
          <i class="icon ln-film-play"></i>
            Videos
        </a>

      </div>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>

