<!--
<ion-view>
	<ion-content>

		<div class="login-logo">
			<img src="img/image8.jpg" class="img-responsive">
		</div>

		<div class="user-from">
			
			
			<div class="sign text-center">
				<span>Don’t have an account?<a href="#/access/login">Sign Up</a></span>
			</div>
			<button class="button button-block button-positive" ng-click="forgotpassword(email);">
				Submit
			</button>
		</div>

	</ion-content>
</ion-view>
-->
<ion-view view-title="Login" class="login-bg">
    <ion-content>

        <div class="login-logo light">
            Business<span class="bold positive">App</span>
        </div>

        <div class="login-tab">
            <div class="login">
               <div class="padding-horizontal">
                	 <h4 class="light">Forgot Password ?</h4>
                </div>
			<div class="list">
				<label class="item item-input item-floating-label">
					<span class="input-label">Email</span>
					<i class="icon ln-envelope"><input type="email" placeholder="Email" ng-model="email"></i>
				</label>
			</div>
                      
                <div class="login-btn footer">
                       
			<button class="button button-block button-positive" ng-click="forgotpassword(email);">
				Submit
				
			</button>
                <div class="sign text-center">
				<span>Don’t have an account?<a href="#/access/login">Sign Up</a></span>
			</div>
                </div>



        </div>

    </ion-content>
</ion-view>