<ion-view class="">
  <ion-content>

    <div class="login-logo">
      <img src="img/logo.png" class="img-responsive">
    </div>

    <div class="resete-password">
      <h4>Reset Password</h4>
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Password</span>
          <i class="icon ln-lock"><input type="text" placeholder="Password"></i>
        </label>

        <label class="item item-input item-floating-label">
          <span class="input-label">Confirm password</span>
          <i class="icon ln-lock"><input type="password" placeholder="Confirm password"></i>
        </label>
      </div>
      <button class="button button-block button-positive">
        Submit
      </button>
    </div>

  </ion-content>
</ion-view>
