<ion-view view-title="Blog">
    <ion-content>
        <div class="list card blog-set" ng-repeat="blog in blogs">
            <div class="row ">
                <div class="col col-67">
                    <div class="bl-name">
                        <p>{{blog.name}}</p>
                        <span>{{blog.email}}</span>
                    </div>
                </div>
                <div class="col col-33 bl-img" ng-repeat="blog in blogs">
                    <div class=" item-avatar">
                        <img ng-src="{{blog.image}}">
                    </div>

                </div>
            </div>
            <div class="item item-body">
                <img src="img/background/divider.png" class="full-image">
                <p>
                    "{{blog.content}}"
                </p>
            </div>
            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item borderright" href="#">
                    <i class="icon ln-thumbs-up2"></i>
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ln-share"></i>

                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
