<ion-view view-title="BLog">
	<ion-content>

		<!--
        <div class="article-view">

            <div class="relative stable-bg min-height">
                <img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg">
                <div class="gradient-hold full">
                    <h4 class="light">Adrian Carnage</h4>
                    <p class="light">January, 15, 2015</p>
                </div>
            </div>

            <div class="padding">
                <h4>We make difference in the market, we also do a lot of work.</h4>
                <p>Our websites are our online homes. It makes sense that we want &nbsp; to give them personality and warmth, &nbsp; just like we do with our physical homes.</p>

                <h5 class="dark">Videos</h5>

                <ion-slide-box on-slide-changed="slideHasChanged($index)">
                    <ion-slide>
                        <div class="row">
                            <div class="col">
                                <img src="img/image1.jpg" class="full-image">
                            </div>
                            <div class="col">
                                <img src="img/image2.jpg" class="full-image">
                            </div>
                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="row">
                            <div class="col">
                                <img src="img/image1.jpg" class="full-image">
                            </div>
                            <div class="col">
                                <img src="img/image2.jpg" class="full-image">
                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>

                <h5 class="dark">Images</h5>

                <ion-slide-box on-slide-changed="slideHasChanged($index)">
                    <ion-slide>
                        <div class="row">
                            <div class="col">
                                <img src="img/image1.jpg" class="full-image">
                            </div>
                            <div class="col">
                                <img src="img/image2.jpg" class="full-image">
                            </div>

                        </div>
                    </ion-slide>
                    <ion-slide>
                        <div class="row">
                            <div class="col">
                                <img src="img/image1.jpg" class="full-image">
                            </div>
                            <div class="col">
                                <img src="img/image2.jpg" class="full-image">
                            </div>
                        </div>
                    </ion-slide>
                </ion-slide-box>

            </div>

        </div>
-->
		<div ng-if="msg!=''">{{msg}}</div>
		<div class="article-view" ng-if="details.provider=='wordpress' && id==0">
			<div class="relative stable-bg min-height">
				<img class="full-image" ng-src="{{details.featured_image | serverimage}}">
				<div class="gradient-hold full">
					<h4 class="light">{{details.author.first_name}} {{details.author.last_name}}</h4>
					<p class="light">{{details.date|date : 'MMMM dd, yyyy'}}</p>
				</div>
			</div>

			<div class="padding">
				<h4>{{details.title}}</h4>
				<p ng-bind-html="details.content"></p>
			</div>
		</div>

		<div class="article-view" ng-if="id!=0">
			<div class="relative stable-bg min-height" ng-if="details.blogimage[0].image">
				<img class="full-image" ng-src="{{details.blogimage[0].image}}">
				<div class="gradient-hold full">
					<h4 class="light">{{details.title}} {{details.author.last_name}}</h4>
					<p class="light">{{details.timestamp|date : 'MMMM dd, yyyy'}}</p>
				</div>
			</div>

			<div class="padding">
				<h4>{{details.title}}</h4>
				<p ng-bind-html="details.content"></p>
				<img ng-src="{{img.image | serverimage}}" alt="" ng-repeat="img in details.blogimage">
				<div youtube code="video.video" ng-repeat="video in details.blogvideo"></div>
			</div>
		</div>

		<div class="article-view" ng-if="details.provider=='tumblr' && id==0">
			<div class="relative stable-bg min-height">
				<img class="full-image" ng-src="{{details.photos[0].original_size.url}}">
				<div class="gradient-hold full">
					<h4 class="light" ng-if="details.type=='audio'">{{details.album}}</h4>
					<h4 class="light" ng-if="details.type!='audio'">{{details.slug}}</h4>
					<p class="light">{{details.date|formatdate}}</p>
				</div>
			</div>

			<div class="padding">
				<h4 ng-bind-html="details.caption"></h4>
				<h4 ng-bind-html="details.embed|rawHtml" ng-if="details.embed" ng-if="details.type =='audio'"></h4>
			</div>
			<div class="padding" ng-if="details.type =='link'">
				<h4>Link</h4>
				<a href="{{details.url}}" target="_blank">{{details.url}}</a>
			</div>
			<div class="padding" ng-if="details.type =='quote'">
				<h4>Quote</h4>
				<p>{{details.text}}</p>
			</div>
		</div>

	</ion-content>
</ion-view>