<ion-view view-title="Blog Details">
    <!--    FOR WORDPRESS-->
    <ion-content>
        <div ng-if="details.provider=='wordpress' && id==0">
            <div class="article-banner">
                <img ng-src="{{details.featured_image}}" class="full-image">
                <div class="user-info">
                    <img ng-src="{{details.author.avatar_URL}}">
                    <h4>{{details.author.first_name}} {{details.author.last_name}}</h4>
                    <h5>{{details.date|date : 'MMMM dd, yyyy'}}</h5>
                </div>
            </div>

            <div class="article-data">
                <h3>{{details.title}}</h3>
                <p ng-bind-html="details.content"></p>
            </div>
        </div>

        <!--        FOR TUMBLR-->
        <div ng-if="details.provider=='tumblr' && id==0">
            <div class="article-banner">
                <img ng-src="{{details.photos[0].original_size.url}}" class="full-image">
                <div class="user-info">
                    <img src="http://ionicframework.com/img/docs/mcfly.jpg">
                    <h4>{{details.blog_name}}</h4>
                    <h5>{{details.date|formatdate}}</h5>
                </div>
            </div>

            <div class="article-data">
                <h3 ng-bind-html="details.caption"></h3>
                <!--                <p>Our websites are our online homes. It makes sense that we want &nbsp; to give them personality and warmth, &nbsp; just like we do with our physical homes.</p>-->
            </div>
        </div>


        <!--        FOR CMS-->
        <div ng-if="id!=0">
            <div class="article-banner">
                <div class="user-info">
                    <h3>{{cmsdetails.name}}</h3>
                </div>
                <div class="user-info">
                    <h4>{{cmsdetails.title}}</h4>
                </div>
                <div class="article-data">
                    <p>{{cmsdetails.content}}</p>
                </div>
                <div ng-repeat="images in cmsdetails.blogimage">
                    <img ng-src="{{images.image | serverimage}}" class="full-image">
                </div>

                <div ng-repeat="videos in cmsdetails.blogvideo">
                    <div youtube code="videos.video"></div>
                </div>

            </div>
        </div>
    </ion-content>
</ion-view>