<ion-view view-title="Artical">
  <ion-content>

    <div class="artical-set">
      <div class="map-set">

        <img src="http://ionicframework.com/img/docs/mcfly.jpg">
        <h4>user name</h4>
        <h5 class="title-c">January, 15, 2015</h5>
      </div>

    </div>
    <div class="articalcontain">
      <h3>"difference-a-header-makes...."</h3>
      <p>Our websites are our online homes. It makes sense that we want&nbsp;to give them personality and warmth,&nbsp;just like we do with our physical homes.</p>
      <img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg">
    </div>
  </ion-content>
</ion-view>

