<ion-view view-title="Events">
    <ion-content>
        <ion-list>
            <a>
                <div class="popular-set" ng-repeat="event in events" ng-click="geteventdetails(event.id);">
                    <figure>
                        <img class="pop-img" ng-src="{{event.image|serverimage}}" class="full-image">
                        <div class="layer">
                            <figcaption class="blog-name">{{event.title}}</figcaption>
                            <p>{{event.content}}</p>

                            <div class="item tabs tabs-secondary tabs-icon-left">
                                <a class="tab-item borderright" href="#">
                                    <i class="icon ln-calendar3 "></i> {{event.startdate|date : 'dd MMM, yyyy'}}
                                </a>
                                <a class="tab-item" href="#">
                                    <i class="icon ln-timer"></i> {{event.starttime|convertto12}}
                                </a>
                            </div>
                        </div>
                    </figure>
                </div>
            </a>
            </ion-list>
    </ion-content>
</ion-view>