<ion-view view-title="Events">
  <ion-content>
    <div class="article-view">
      <img class="full-image" src="http://ionicframework.com/img/docs/delorean.jpg">

      <div class="padding">
        <h4 class="dark">Frankly speaking and entrepreneurs meet</h4>

        <p><i class="icon ln-calendar3 positive"></i> 23 January, 2015 @ 04:00 AM</p>
        <p><i class="icon ln-map-marker positive"></i> California, USA</p>

        <p>Our websites are our online homes. It makes sense that we want &nbsp; to give them personality and warmth, &nbsp; just like we do with our physical homes. Our websites are our online homes. It makes sense that we want &nbsp; to give them personality and warmth, &nbsp; just like we do with our physical homes.</p>

        <h5 class="dark">Videos</h5>

        <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <div class="row">
              <div class="col"><img src="img/image1.jpg" class="full-image"></div>
              <div class="col"><img src="img/image2.jpg" class="full-image"></div>
            </div>
          </ion-slide>
           <ion-slide>
            <div class="row">
              <div class="col"><img src="img/image1.jpg" class="full-image"></div>
              <div class="col"><img src="img/image2.jpg" class="full-image"></div>
            </div>
          </ion-slide>
        </ion-slide-box>

        <h5 class="dark">Images</h5>
        
          <ion-slide-box on-slide-changed="slideHasChanged($index)">
          <ion-slide>
            <div class="row">
              <div class="col"><img src="img/image1.jpg" class="full-image"></div>
              <div class="col"><img src="img/image2.jpg" class="full-image"></div>
              
            </div>
          </ion-slide>
           <ion-slide>
            <div class="row">
              <div class="col"><img src="img/image1.jpg" class="full-image"></div>
              <div class="col"><img src="img/image2.jpg" class="full-image"></div>
            </div>
          </ion-slide>
        </ion-slide-box>

      </div>

    </div>
  </ion-content>
</ion-view>

