<ion-view view-title="Events">
	<ion-content>
		<div class="article-view">
			<img class="full-image" imgloadingsec ng-src="{{eventdetail.image | serverimage}}" ng-if="eventdetail.image">

			<div class="padding">
				<h4 class="dark">{{eventdetail.title}}</h4>

				<p><i class="icon ln-calendar3 positive"></i> <span ng-if="eventdetail.timestamp">&nbsp;{{eventdetail.timestamp|date : 'dd MMM, yyyy'}}</span><span ng-if="eventdetail.starttime"> @ {{eventdetail.starttime|convertto12}}</span></p>
				<p><i class="icon ln-map-marker positive"></i> California, USA</p>

				<!--        <p>Our websites are our online homes. It makes sense that we want &nbsp; to give them personality and warmth, &nbsp; just like we do with our physical homes. Our websites are our online homes. It makes sense that we want &nbsp; to give them personality and warmth, &nbsp; just like we do with our physical homes.</p>-->
				<p ng-bind-html="eventdetail.content | rawHtml"></p>

				<h5 class="dark" ng-if="eventdetail.eventvideos && eventdetail.eventvideos != ''">Videos</h5>

				<ion-slide-box on-slide-changed="slideHasChanged($index)">
					<ion-slide ng-repeat="images in eventdetail.eventvideos">
						<div class="row">
							<div class="col" ng-repeat="img in images">
								<div youtube code="img.url"></div>
							</div>
						</div>
					</ion-slide>
				</ion-slide-box>

				<h5 class="dark" ng-if="eventdetail.eventimages && eventdetail.eventimages != ''">Images</h5>

				<ion-slide-box on-slide-changed="slideHasChanged($index)">
					<ion-slide ng-repeat="images in eventdetail.eventimages">
						<div class="row">
							<div class="col" ng-repeat="img in images"><img ng-src="{{img.image|serverimage}}" imgloadingsec class="full-image"></div>
						</div>
					</ion-slide>
				</ion-slide-box>

			</div>

		</div>
	</ion-content>
</ion-view>