<ion-view view-title="Events">
    <ion-content>
        <div class="articalcontain">
            <div class="list">
                <div class="item">
                    <img class="full-image" ng-src="{{eventdetail.image |serverimage}}">
                    <h2 class="title">{{eventdetail.title}}</h2>
                    <h4 class="dates">{{eventdetail.timestamp|date : 'MMMM, dd yyyy'}}</h4>
                </div>
                <div class="item item-body">
                    <h2 class="title">{{eventdetail.content}}</h2>
                    <div ng-repeat="eventimages in eventdetail.eventimages">
                        <img class="full-image" ng-src="{{eventimages.image|serverimage}}">
                    </div>
                    <div ng-repeat="eventvideos in eventdetail.eventvideos">
                        <div youtube code="eventvideos.url"></div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
<!--
<div class="articalcontain" ng-repeat="eventdetail in eventdetail">
     <img class="full-image" ng-src="{{eventdetail.image |serverimage}}">
    <h3>{{eventdetail.title}}</h3>
    <h5>{{eventdetail.timestamp}}</h5>
    <p>{{eventdetail.content}}</p>
    <div ng-repeat="eventimages in eventdetail.eventimages">
    <img class="full-image" ng-src="{{eventimages.image}}">
    </div>
    <div ng-repeat="eventvideos in eventdetail.eventvideos">
    <img class="full-image" ng-src="{{eventvideos.image}}">
    </div>
</div>-->