<ion-view view-title="Home">
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)">
      <ion-slide ng-repeat="slide in slides track by $index">
        <div class="box blue">
          <img ng-src="{{slide}}" class="full-image" alt="">
        </div>
      </ion-slide>
    </ion-slide-box>
      <div class="list list-wave">
    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>Our Vision</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
    </a>   
    <a class="item item-avatar-right" href="#">
      <img src="venkman.jpg">
      <h2>Our Mission</h2>
      <p> It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
    </a>   
    <a class="item item-avatar" href="#">
      <img src="venkman.jpg">
      <h2>About Us</h2>
      <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
    </a>  
    <a class="item item-avatar-right" href="#">
      <img src="venkman.jpg">
      <h2>Our Idea</h2>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy </p>
    </a>
</div>
  </ion-content>
</ion-view>

