<ion-view view-title="Home">
  <ion-content>
    <ion-slide-box on-slide-changed="slideHasChanged($index)" ng-if="slides!=''">
      <ion-slide ng-repeat="slide in slides track by $index">
        <img ng-src="{{slide.image | serverimage}}" class="full-image">
      </ion-slide>
    </ion-slide-box>
    
	  <div ng-bind-html="content.content"></div>
	  

<!--
    <div class="box text-center">
      <h4>About us</h4>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
      <a class="button button-small button-dark button-small button-outline button-pad">Read More</a>
    </div>

    <div class="box text-center">
      <h4>Our Services</h4>

      <div class="row col-icon">
        <div class="col">
          <i class="icon ln-pencil"></i>
          <h3>Branding Design</h3>
        </div>
        <div class="col">
          <i class="icon ln-desktop"></i>
          <h3>Web Design</h3>
        </div>
      </div>
      <div class="row col-icon">
        <div class="col">
          <i class="icon ln-smartphone"></i>
          <h3>Mobile App</h3>
        </div>
        <div class="col">
          <i class="icon ln-film-play"></i>
          <h3>Video Production</h3>
        </div>
      </div>

    </div>

    <div class="box text-center">
      <h4>Our Clients</h4>
      <div class="row">
          <div class="col">
              <img src="img/client1.jpg" class="half-image">
          </div>
          <div class="col">
              <img src="img/client2.jpg" class="half-image">
          </div>
          <div class="col">
              <img src="img/client3.jpg" class="half-image">
          </div>
          <div class="col">
              <img src="img/client4.jpg" class="half-image">
          </div>
          <div class="col">
              <img src="img/client4.jpg" class="half-image">
          </div>
      </div>
    </div>
-->

  </ion-content>
</ion-view>

