<ion-view view-title="Gallery">
  <ion-content>
    <div class="row">
      <div class="col col-50">
        <figure>
          <img src="https://farm8.staticflickr.com/7083/7266966750_bb475d1910_q.jpg" class="full-image">
        </figure>
      </div>
      <div class="col col-50">
        <figure>
          <img src="https://farm8.staticflickr.com/7157/6464932095_93bfb6b28f_q.jpg" class="full-image">
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <figure>
          <img src="https://farm8.staticflickr.com/7083/7266966750_bb475d1910_q.jpg" class="full-image">
        </figure>
      </div>
      <div class="col col-50">
        <figure>
          <img src="https://farm8.staticflickr.com/7157/6464932095_93bfb6b28f_q.jpg" class="full-image">
        </figure>
      </div>
    </div>
    <div class="row">
      <div class="col col-50">
        <figure>
          <img src="https://farm8.staticflickr.com/7083/7266966750_bb475d1910_q.jpg" class="full-image">
        </figure>
      </div>
      <div class="col col-50">
        <figure>
          <img src="https://farm8.staticflickr.com/7157/6464932095_93bfb6b28f_q.jpg" class="full-image">
        </figure>
      </div>
    </div>
  </ion-content>
</ion-view>

