<ion-view view-title="My Profile">
    <ion-content>

        <div class="relative profile-banner" ng-style="{'background-image':'url({{user.coverimage | serverimage}})'}" ng-click="picImageForCover()">
           
           
            <div class="image-adjust" ng-if="user.image" ng-click="picFromGallery()" ng-style="{'background-image':'url({{user.image | serverimage}})'}"></div>
            
            
            <div class="gradient-hold full">
                <h3 class="light">{{user.name}}</h3>
            </div>

            <button class="button button-positive button-edit button-round ion-edit" ng-click="edit=!edit"></button>

        </div>

        <div ng-if="edit==false;">
            <ion-list>
                <ion-item><span class="icon-space"><i class="icon ln-envelope"></i></span> {{user.email}}</ion-item>
                <ion-item><span class="icon-space"><i class="icon ln-phone"></i></span> {{user.contact}}</ion-item>
                <ion-item><span class="icon-space"><i class="icon ln-map-marker"></i></span> {{user.location}}</ion-item>
                <ion-item><span class="icon-space"><i class="icon ln-calendar2"></i></span> {{user.dob|date:'MMMM dd, yyyy'}}</ion-item>
            </ion-list>
        </div>

        <div ng-if="edit==true;">
            <div class="list list-icon">
                <label class="item item-input">
                    <span class="input-label"><i class="icon ln-user"></i></span>
                    <input type="text" placeholder="Name" ng-model="user.name">
                </label>
                <label class="item item-input">
                    <span class="input-label"><i class="icon ln-envelope"></i></span>
                    <input type="email" placeholder="Email Address" ng-model="user.email">
                </label>
                <label class="item item-input">
                    <span class="input-label"><i class="icon ln-phone"></i></span>
                    <input type="tel" placeholder="Phone No." ng-model="user.contact">
                </label>
                <label class="item item-input">
                    <span class="input-label"><i class="icon ln-map-marker"></i></span>
                    <input type="text" placeholder="Location" ng-model="user.location">
                </label>
                <label class="item item-input">
                    <span class="input-label"><i class="icon ln-calendar2"></i></span>
                    <input type="date" placeholder="Birth Date" ng-model="user.dob">
                </label>
            </div>

            <div class="padding-horizontal">
                <button class="button button-positive button-block" ng-click="saveProfile();">Save</button>
            </div>
        </div>

        </ion-item>

    </ion-content>
</ion-view>