<ion-view view-title="Profile">
    <ion-content>
        <div class="about-set">
            <img src="img/background/5.jpg" class="full-image">
        </div>
        <div class="profile-pics text-center">
            <img src="img/user.png">
        </div>
        <div class="profile-cont text-center">
            <h4 class="head-name">Mahesh Mauraya</h4>
            <p>mahesh@wohlig.com</p>
            <p class="profile-work">Wohlig Technology</p>
            <p class="profile-work">Web Developer </p>
        </div>
    </ion-content>
    <ion-footer-bar class="no-padding">
        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item borderright" href="#">
                <i class="icon ion-social-twitter-outline"></i>
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-social-facebook-outline"></i>
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-social-instagram-outline"></i>
            </a>
        </div>
    </ion-footer-bar>
</ion-view>