<ion-view view-title="Service">

  <ion-content>
    <ion-lis style="padding-top:0px">
<div class="service-set">
    <div class="service1">
     <i class="icon ln-laptop "></i>
        Easy Customization
    </div>
     <div class="service2">
     <i class="icon ln-design "></i>
        Nice design
    </div>
        <div class="service3">
     <i class="icon ln-lamp "></i>
       Great concept
    </div><div class="service4">
     <i class="icon ln-rocket "></i>
       unlimited feature
    </div><div class="service5">
     <i class="icon ln-chat "></i>
       FRIENDLY SUPPORT
    </div>
        </div>
    </ion-list>
  </ion-content>
</ion-view>

