<ion-view view-title="Setting">
 
  <ion-content>
    <ul class="list">

      <li class="item item-toggle">
       Notification
        <label class="toggle toggle-positive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <li class="item item-toggle">
        Email
        <label class="toggle toggle-positive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

      <li class="item item-toggle">
        Sound
        <label class="toggle toggle-positive">
          <input type="checkbox">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </li>

    
    </ul>
  </ion-content>
</ion-view>

