<ion-view view-title="Our Team">

  <ion-content class="padding">
    <div class="list">
      <div class="item item-image">
        <img src="img/user.jpg">
      </div>
      <div class="item item-text-wrap">
        <h2>Janice Murray</h2>
        <h4>C.E.O.</h4>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum molestiae amet quidem aut nisi deleniti recusandae magnam sapiente, quisquam sint explicabo ullam similique inventore ipsa quod! Qui, labore, fugit. Hic.
        </p>
      </div>
    </div>
  </ion-content>
</ion-view>
