<ion-view view-title="Team">
  <ion-content>
<div class="about-set">
    <img src="img/background/4.jpg" class="full-image">
</div>
<div class="team-txt about-us ">
     <h3 ng-repeat="head in team">"{{head.content}}"</h3>
      <p ng-repeat="cont in contain">{{cont.detail}}</p>
     <p></p>
</div>
 <div class="team text-center">
    <h4 class="text-center">OUR TEAM</h4>
    <hr>
    <div class="team-set">
     <figure>
         <img src="img/profile/6.jpg" class="full-image">
         <div class="team-name">
             <div class="team-mem">
                <div class="left">
                 <h4>Jessi Landom</h4>
                 <p>Web Designer</p>
                 </div>  
                  <div class="right">
                 <i class="ln-thumbs-up2"></i>Like
                 <i class="ln-share margright"></i>Share
                
                 </div>
             </div>
         </div>
     </figure>
     </div>   
      <div class="team-set">
     <figure>
         <img src="img/profile/7.jpg" class="full-image">
         <div class="team-name">
             <div class="team-mem">
                <div class="left">
                 <h4>Jessi Landom</h4>
                 <p>Web Designer</p>
                 </div>  
                  <div class="right">
                 <i class="ln-thumbs-up2"></i>Like
                 <i class="ln-share margright"></i>Share
                
                 </div>
             </div>
         </div>
     </figure>
     </div>
 </div>
  </ion-content>
</ion-view>
