<ion-view view-title="Videos">

    <ion-content>
        <!--
    <ion-list>
      <ion-item ng-repeat="item in videos" href="#/app/videogallery/{{item.id}}">
          		<img ng-src="http://img.youtube.com/vi/{{item.url}}/0.jpg" alt="" class="img-responsive">
        <img ng-src="{{item.image}}">
        <h2>{{item.name}}</h2>
          
        <ion-option-button class="button-positive" ng-click="share(item)">
          Share
        </ion-option-button>
      </ion-item>
    </ion-list>
-->
        <div class="vid-cat">
            <div class="popular-set">
                <figure>
                    <img class="pop-img" src="img/other/2.jpg" alt="Demo" class="full-image" style="height:100%;">
                    <div class="layers">
                        <div class="row padzero">
                            <div class="col col-50 padzero">
                                <div class="big-video">
                                    <h4>evryone has something <span>special</span> to contribute </h4>
                                    <hr>
                                    <p>our core value is people over policy</p>
                                    <div class="lik-time">
                                        <i class="ln-clock2"></i>54 Minutes
                                        <i class="ln-heart marginl"></i>132
                                    </div>
                                </div>

                            </div>
                            <div class="col col-50 padzero relative">
                                <div class="video-play">
                                    <div class="in-play">
                                        <img src="img/other/4.png">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </figure>

            </div>
            <div class="small-video">
                <div class="row">
                    <div class="col col-50">
                        <div class="sm-video popular-set ">
                            <figure>
                                <img src="img/video/1.jpg" class="full-image">
                                <div class="layertw layers text-center">
                                    <h4>
                               evryone has something <span>special</span> to contribute 
                            </h4>
                                    <hr>
                                    <div class="sm-play">
                                        <img src="img/other/5.png">
                                    </div>
                                    <div class="time-like">
                                        <i class="ln-clock2"></i>54 Minutes
                                        <i class="ln-heart margltw "></i>132
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="col col-50">
                        <div class="sm-video popular-set  ">
                            <figure>
                                <img src="img/video/2.jpg" class="full-image">
                                <div class="layertw layers text-center">
                                    <h4>
                               evryone has something <span>special</span> to contribute 
                            </h4>
                                    <hr>
                                    <div class="sm-play">
                                        <img src="img/other/5.png">
                                    </div>
                                    <div class="time-like">
                                        <i class="ln-clock2"></i>54 Minutes
                                        <i class="ln-heart margltw "></i>132
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="vid-cat">
            <div class="popular-set">
                <figure>
                    <img class="pop-img" src="img/other/2.jpg" alt="Demo" class="full-image" style="height:100%;">
                    <div class="layers">
                        <div class="row padzero">
                            <div class="col col-50 padzero">
                                <div class="big-video">
                                    <h4>evryone has something <span>special</span> to contribute </h4>
                                    <hr>
                                    <p>our core value is people over policy</p>
                                    <div class="lik-time">
                                        <i class="ln-clock2"></i>54 Minutes
                                        <i class="ln-heart marginl"></i>132
                                    </div>
                                </div>

                            </div>
                            <div class="col col-50 padzero relative">
                                <div class="video-play">
                                    <div class="in-play">
                                        <img src="img/other/4.png">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </figure>

            </div>
            <div class="small-video">
                <div class="row">
                    <div class="col col-50">
                        <div class="sm-video popular-set">
                            <figure>
                                <img src="img/video/1.jpg" class="full-image">
                                <div class="layertw layers text-center">
                                    <h4>
                               evryone has something <span>special</span> to contribute 
                            </h4>
                                    <hr>
                                    <div class="sm-play">
                                        <img src="img/other/5.png">
                                    </div>
                                    <div class="time-like">
                                        <i class="ln-clock2"></i>54 Minutes
                                        <i class="ln-heart margltw "></i>132
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>
                    <div class="col col-50">
                        <div class="sm-video popular-set">
                            <figure>
                                <img src="img/video/2.jpg" class="full-image">
                                <div class="layertw layers text-center">

                                    <h4>
                               evryone has something <span>special</span> to contribute 
                            </h4>
                                    <hr>
                                    <div class="sm-play">
                                        <img src="img/other/5.png">

                                    </div>
                                    <div class="time-like">
                                        <i class="ln-clock2"></i>54 Minutes
                                        <i class="ln-heart margltw "></i>132
                                    </div>
                                </div>
                            </figure>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </ion-content>
</ion-view>