<ion-view view-title="Videos Category">

  <ion-content>
    <ion-list>
      <ion-item collection-repeat="item in events" class="item-thumbnail-left item-text-wrap" ui-sref="app.videogallery">
        <div class="image-adjust img-content" ng-style='{"background-image":"url("{{item.image}}")"}'></div>
        <h2>{{item.title}}</h2>
        <p>{{item.subtitle}}</p>
        <ion-option-button class="button-positive" ng-click="share(item)">
          Share
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
  
</ion-view>

