<ion-view view-title="Videos">
	<ion-content>
		<ion-list>

			<ion-item ng-repeat="item in videos" class="item-thumbnail-left item-text-wrap" ng-click="showVideo(item.url);">
				<div class="image-adjust img-content" ng-style="{'background-image':'url(http://img.youtube.com/vi/{{item.url | url}}/default.jpg)'}"></div>
				<h2>{{item.name}}</h2>
				<p>{{item.subtitle}}</p>
				<ion-option-button class="button-positive" ng-click="share(item)">
					Share
				</ion-option-button>
			</ion-item>

		</ion-list>
	</ion-content>
</ion-view>