/* Empty. Add your own CSS if you like */

.ng-invalid.ng-dirty,
.ng-dirty {
    border-left: solid red !important;
    border-right: solid red !important;
}
input.ng-dirty{
	border-left: transparent !important;
    border-right: transparent !important;
}


/*
label.item.item-input.ng-dirty.ng-invalid {
    border-left: solid red ;
    border-right: solid red ;
}
.ng-dirty>* {
    color: red ;
}*/
