/* Empty. Add your own CSS if you like */

.ng-invalid.ng-dirty,
.ng-dirty {
    border-left: solid red !important;
    border-right: solid red !important;
}
input.ng-dirty{
	border-left: transparent !important;
    border-right: transparent !important;
}

#map {
  width: 100%;
  height: 100%;
}

.scroll {
  height: 100%;
}



img.loading {
  background-image: url(../img/loading.gif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  text-align: center;
  position: absolute;
  top: 50%;
  opacity: 1;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 100px !important;
  height: 100px !important;
}
img[imgloadingsec] {
  opacity: 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
img.doneLoading {
  opacity: 1;
}

/*
label.item.item-input.ng-dirty.ng-invalid {
    border-left: solid red ;
    border-right: solid red ;
}
.ng-dirty>* {
    color: red ;
}*/
